.profileMain {
    max-width: 1160px;
    margin: 30px auto auto auto;
    width: 100%;
}

#profileNotIn {
    width: 600px; height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 70px auto;
    /* display: flex; */
    display: none;
}

.fbLogo {
    background: #4661b0;
    text-indent: -999em;
    width: 180px; 
    height: 180px;
    border-radius: 3px; 
    position: relative;
    overflow: hidden; 
    border: 15px solid #4661b0;
    border-bottom: 0; 
    margin-bottom: 20px; 
}

.fbLogo:before {
	content: "/20";
	position: absolute; 
	background: #4661b0; 
	width: 40px; 
	height: 120px; 
	bottom: -30px; 
	right: -40px;
	border: 20px solid white; 
	border-radius: 25px;
}

.fbLogo:after {
	content: "/20";
	position: absolute;
	width: 55px;
	top: 80px;
	height: 20px; 
	background: white; 
	right: 5px; 
}

#loginBtn {
    width: 180px; height: 40px;
    background: black;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    border: 1px outset #888888;
    outline: none;
    cursor: pointer;
}

#profileCard {
    margin: 0 auto 70px auto;
    flex-direction: column;
    display: none;
    /* display: flex; */
}

#profileIcon {
    width: 120px; height: 120px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 60px; left: 50px;
}

#profileIcon > img {
    width: 100%; height: 100%;
    border-radius: 50%;
}

.profileTop {
    position: relative;
    width: 550px; height: 500px;
    box-shadow: 2px 2px 4px -1px #ccc;
    margin: 30px auto 0 auto;
}

.profileTop:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 140px 550px;
    border-color: transparent transparent #eee transparent;
    z-index: -1;
}

.profileTop:after {
    content: "";
    position: absolute;
    width: 100%; height: 360px;
    top: 140px;
    background: #eee;
    z-index: -1;
}

.profileInfoWrap {
    position: absolute;
    top: 185px; left: 175px;
}

#profileName, #profileEmail {
    color: #8b572a;
    margin-bottom: 30px;
}

#profileName {
    font-size: 24px;
}

#profileEmail {
    font-size: 18px;
}

@media screen and (max-width:600px) {
    .profileMain {
        padding: 0 24px;
    }    

    #profileIcon {
        width: 90px; height: 90px;
        top: 30px; left: 20px;
    }

    .profileTop {
        width: 280px; height: 460px;
    }

    .profileTop:before {
        border-width: 0 0 100px 280px;
    }
    
    .profileTop:after {
        width: 100%; height: 360px;
        top: 100px;
    }
    
    .profileInfoWrap {
        position: absolute;
        top: 150px; left: 40px;
    }

    #profileName, #profileEmail {
        margin-bottom: 25px;
    }
    
    #profileName {
        font-size: 22px;
    }
    
    #profileEmail {
        font-size: 16px;
    }

    #profileNotIn {
        width: 280px; height: 400px;
    }
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #FFCAD5;
} */

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="password"],
#contact input[type="url"],
#contact textarea,
#contact button[type="button"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="password"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="password"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="button"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #AAA;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="button"]:hover {
    background: #888;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

 ::-webkit-input-placeholder {
    color: #888;
}

 :-moz-placeholder {
    color: #888;
}

 ::-moz-placeholder {
    color: #888;
}

 :-ms-input-placeholder {
    color: #888;
}
#check{
  font-size: 15px;
}